<a href="https://colab.research.google.com/github/gyujin0450/RPRG/blob/master/p071_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch02.4 DataFrame 자료구조

In [ ]:
# dataFrame 생성

# 열단위로 서로 다른 자료형을 포함할 수 있음
# 벡터와 행렬을 이용하여 데이터프레임 객체를 생성할 수 있음

# data.frame(컬럼1 = 자료, 컬럼2 = 자료, ... 컬럼n = 자료)

In [ ]:
no <- c(1,2,3)
name <- c("hong","lee","kim")
pay <- c(150,250,300)
vemp <- data.frame(No = no, Name = name, Pay = pay) # 컬럼명 지정
vemp

  No Name Pay
1 1  hong 150
2 2  lee  250
3 3  kim  300

In [ ]:
m <- matrix(c(
  1, "hong", 150,
  2, "lee", 250,
  3, "kim", 300
), 3, byrow = T)
memp <- data.frame(m)
memp

  X1 X2   X3
1 1  hong 150
2 2  lee  250
3 3  kim  300

In [ ]:
getwd()
# txtemp <- read.table('https://raw.githubusercontent.com/gyujin0450/dataset/master/emp.txt', header = 1, sep = "")
csvtmp <- read.csv('https://raw.githubusercontent.com/gyujin0450/dataset/master/emp.csv', header = T) # 제목있음, 칼럼 콤마 구분
csvtmp

[1] "/content"

  no  name pay
1 101 hong 150
2 201 lee  250
3 310 kim  300

In [ ]:
# help(read.csv)
name <- c('사번','이름','급여')
read.csv("https://raw.githubusercontent.com/gyujin0450/dataset/master/emp2.csv", header = F, col.names = name)

  사번 이름 급여
1 101  hong 150
2 201  lee  250
3 310  kim  300

In [ ]:
df <- data.frame(x = c(1:5), y = seq(2,10,2), z = c('a','b','c','d','e'))
df

  x y  z
1 1  2 a
2 2  4 b
3 3  6 c
4 4  8 d
5 5 10 e

In [ ]:
df$x

[1] 1 2 3 4 5

In [ ]:
str(df)

'data.frame':	5 obs. of  3 variables:
 $ x: int  1 2 3 4 5
 $ y: num  2 4 6 8 10
 $ z: Factor w/ 5 levels "a","b","c","d",..: 1 2 3 4 5

In [ ]:
ncol(df)

[1] 3

In [ ]:
nrow(df)

[1] 5

In [ ]:
names(df)

[1] "x" "y" "z"

In [ ]:
df[c(2:3)] 
df[c(2:3),1] # 데이터프레임 객체의 특정 행 출력(??)

  y  z
1  2 a
2  4 b
3  6 c
4  8 d
5 10 e

[1] 2 3

In [ ]:
summary(df)

       x           y      z
 Min.   :1   Min.   : 2   a:1
 1st Qu.:2   1st Qu.: 4   b:1
 Median :3   Median : 6   c:1
 Mean   :3   Mean   : 6   d:1
 3rd Qu.:4   3rd Qu.: 8   e:1
 Max.   :5   Max.   :10

In [ ]:
apply(df[c(1,2)], 2, sum) # apply(데이터프레임, 행/열, 함수)

 x  y
15 30

In [ ]:
x1 <- subset(df, x >= 3) # x가 3이상인 행을 대상으로 서브셋 생성
x1

  x y  z
3 3  6 c
4 4  8 d
5 5 10 e

In [ ]:
y1 <- subset(df, y <= 8)
y1

  x y z
1 1 2 a
2 2 4 b
3 3 6 c
4 4 8 d

In [ ]:
xyand <- subset(df, x >= 2 & y <= 6)
xyand

  x y z
2 2 4 b
3 3 6 c

In [ ]:
xyor <- subset(df, x >= 2 | y <= 6)
xyor

  x y  z
1 1  2 a
2 2  4 b
3 3  6 c
4 4  8 d
5 5 10 e

In [ ]:
# 벡터 객체 생성
sid = c("A","B","C","D")
score = c(90,80,70,60)
subject = c("컴퓨터","국어국문","소프트웨어","유아교육")

# 데이터프레임 생성
student <- data.frame(sid, score, subject)
student

  sid score subject
1 A   90    컴퓨터
2 B   80    국어국문
3 C   70    소프트웨어
4 D   60    유아교육

In [ ]:
mode(student);class(student)

[1] "list"

[1] "data.frame"

In [ ]:
str(sid);str(score);str(subject)

 chr [1:4] "A" "B" "C" "D"
 num [1:4] 90 80 70 60
 chr [1:4] "컴퓨터" "국어국문" "소프트웨어" "유아교육"

In [ ]:
str(student)

'data.frame':	4 obs. of  3 variables:
 $ sid    : Factor w/ 4 levels "A","B","C","D": 1 2 3 4
 $ score  : num  90 80 70 60
 $ subject: Factor w/ 4 levels "국어국문","소프트웨어",..: 4 1 2 3

In [ ]:
# 두개 이상의 데이터프레임 병합
height <- data.frame(id = c(1,2), h = c(180,175))
weight <- data.frame(id = c(1,2), w = c(80,75))
user <- merge(height, weight, by.x = "id", by.y = "id")
user

  id h   w
1 1  180 80
2 2  175 75

In [ ]:
# data.frame 객체 데이터 셋
install.packages("UsingR")
library(UsingR)
data(galton)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Loading required package: MASS

Loading required package: HistData

Loading required package: Hmisc

Loading required package: lattice

Loading required package: survival

Loading required package: Formula

Loading required package: ggplot2


Attaching package: ‘Hmisc’


The following objects are masked from ‘package:base’:

    format.pval, units



Attaching package: ‘UsingR’


The following object is masked from ‘package:survival’:

    cancer

In [ ]:
# galton 데이터 셋 구조 보기
str(galton)

'data.frame':	928 obs. of  2 variables:
 $ child : num  61.7 61.7 61.7 61.7 61.7 62.2 62.2 62.2 62.2 62.2 ...
 $ parent: num  70.5 68.5 65.5 64.5 64 67.5 67.5 67.5 66.5 66.5 ...

In [ ]:
dim(galton) # 차원 보기

[1] 928   2

In [ ]:
head(galton, 5) # 앞부분 15개 관측치 출력

  child parent
1 61.7  70.5
2 61.7  68.5
3 61.7  65.5
4 61.7  64.5
5 61.7  64.0