<a href="https://colab.research.google.com/github/gyujin0450/RPRG/blob/master/p078_List%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ch02.5 List 자료구조

In [ ]:
# 리스트 : 성격이 다른 자료형(문자열, 숫자형,논리형 등)과 자료구조(벡터, 행렬, 리스트, 데이터프레임 등)를 객체로 생성
# 하나의 메모리 영역에는 키, 값이 한 쌍으로 저장됨
# C언어의 구조체, Python의 dict 자료 구조와 유사
# key 를 통해서 value를 불러올 수 있는데, value에 해당되는 자료는 Vector, Matrix, Array, List, DataFrame 등 R 자료구조의 객체가 저장
# 함수내에서 여러 값을 하나의 키로 묶어서 반환
# 리스트 생성 함수 : list()
# 리스트 자료 처리 함수 : unlist(), lapply(), sapply()

In [ ]:
# key를 생략한 list 생성하기
list <- list("lee","이순신",95)
list

[[1]]
[1] "lee"

[[2]]
[1] "이순신"

[[3]]
[1] 95

In [ ]:
# 리스트를 벡터 구조로 변견하기
unlist <- unlist(list)
unlist

[1] "lee"    "이순신" "95"

In [ ]:
# 1개 이상의 값을 갖는 리스트 객체 생성하기
num <- list(c(1:5),c(6,10))
num

[[1]]
[1] 1 2 3 4 5

[[2]]
[1]  6 10

In [ ]:
# key와 value 형식으로 리스트 객체 생성하기
# list( key= value, ...)
member <- list(
  name = c("홍길동","유관순"),
  age = c(35,25),
  address = c("한양","충남"),
  gender = c("남","여"),
  htype = c("아파트","오피스텔")
)
member

$name
[1] "홍길동" "유관순"

$age
[1] 35 25

$address
[1] "한양" "충남"

$gender
[1] "남" "여"

$htype
[1] "아파트"   "오피스텔"

In [ ]:
# key를 이용하여 value에 접근하기
member$age[1] <- 45  # age key의 첫번째 원소 수정
member$id <- c("hong","ryu")  # id key 추가
member$pwd <- "1234" # pwd 키 추가
member

$name
[1] "홍길동" "유관순"

$age
[1] 45 25

$address
[1] "한양" "충남"

$gender
[1] "남" "여"

$htype
[1] "아파트"   "오피스텔"

$id
[1] "hong" "ryu"

$pwd
[1] "1234"

In [ ]:
length(member)

[1] 7

In [ ]:
mode(member);class(member)

[1] "list"

[1] "list"

In [ ]:
# 리스트 객체의 자료 처리 함수
a <- list(c(1:5))  # 리스트 객체 생성
b <- list(c(6:10)) # 리스트 객체 생성
lapply(c(a,b), max)

[[1]]
[1] 5

[[2]]
[1] 10

In [ ]:
# 리스트 형식을 벡터 형식으로 반환하기
sapply(c(a,b), max)

[1]  5 10

In [ ]:
# 다차원 리스트 객체 생성하기
multi_list <- list(
  c1 = list(1,2,3),
  c2 = list(10,20,30),
  c3 = list(100,200,300)
)
multi_list
multi_list$c1;multi_list$c2;multi_list$c3

$c1
$c1[[1]]
[1] 1

$c1[[2]]
[1] 2

$c1[[3]]
[1] 3


$c2
$c2[[1]]
[1] 10

$c2[[2]]
[1] 20

$c2[[3]]
[1] 30


$c3
$c3[[1]]
[1] 100

$c3[[2]]
[1] 200

$c3[[3]]
[1] 300

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[1]]
[1] 10

[[2]]
[1] 20

[[3]]
[1] 30

[[1]]
[1] 100

[[2]]
[1] 200

[[3]]
[1] 300

In [ ]:
# 다차원 리스트를 열 단위로 바인딩하기
# cbind : 컬럼 묶음
do.call(cbind, multi_list)

     c1 c2 c3
[1,] 1  10 100
[2,] 2  20 200
[3,] 3  30 300

In [ ]:
do.call(rbind, multi_list)

   [,1] [,2] [,3]
c1 1    2    3
c2 10   20   30
c3 100  200  300

In [ ]:
class(do.call(cbind, multi_list)) # R Studio에서 결과가 다소 다름

[1] "matrix"