<a href="https://colab.research.google.com/github/gyujin0450/RPRG/blob/master/p101_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%80%EC%9E%A5%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ch03.2 데이터 저장하기

In [ ]:
# cat() 함수 이용 변수 출력
x <- 10
y <- 20
z <- x + y
cat("x*y의 결과는",z,"입니다.\n")

x*y의 결과는 30 입니다.

In [ ]:
cat(x,"*",y, "=",z)

10 * 20 = 30

In [ ]:
# print() 함수
z

[1] 30

In [3]:
# sink() 함수
getwd()
install.packages("RSADBE")
library(RSADBE)
data(Severity_Counts)
sink("severity.txt") # 저장할 파일 Open
severity <- Severity_Counts 
severity # 변수출력 : 콘솔에 출력되지 않고 파일 저장 (R Studio에서는 파일에 저장됨) 
sink() # Open될 파일 close

[1] "/content"

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

      Bugs.BR       Bugs.AR    NT.Bugs.BR    NT.Bugs.AR      Major.BR
        11605           374         10119            17          1135
     Major.AR   Critical.BR   Critical.AR H.Priority.BR H.Priority.AR
           35           432            10           459             3

In [11]:
# write.table() 함수
titanic <- read.csv('https://raw.githubusercontent.com/gyujin0450/dataset/master/titanic.csv')
head(titanic,5)

  pclass survived name                                            sex
1 1      1        Allen, Miss. Elisabeth Walton                   female
2 1      1        Allison, Master. Hudson Trevor                  male
3 1      0        Allison, Miss. Helen Loraine                    female
4 1      0        Allison, Mr. Hudson Joshua Creighton            male
5 1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels) female
  age     sibsp parch ticket fare     cabin   embarked
1 29.0000 0     0     24160  211.3375 B5      S
2  0.9167 1     2     113781 151.5500 C22 C26 S
3  2.0000 1     2     113781 151.5500 C22 C26 S
4 30.0000 1     2     113781 151.5500 C22 C26 S
5 25.0000 1     2     113781 151.5500 C22 C26 S

In [12]:
write.table(titanic, "titanic.txt", row.names = FALSE)

In [13]:
titanic_df <- read.table(file="titanic.txt", sep="", header = T)
head(titanic_df,5)

  pclass survived name                                            sex
1 1      1        Allen, Miss. Elisabeth Walton                   female
2 1      1        Allison, Master. Hudson Trevor                  male
3 1      0        Allison, Miss. Helen Loraine                    female
4 1      0        Allison, Mr. Hudson Joshua Creighton            male
5 1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels) female
  age     sibsp parch ticket fare     cabin   embarked
1 29.0000 0     0     24160  211.3375 B5      S
2  0.9167 1     2     113781 151.5500 C22 C26 S
3  2.0000 1     2     113781 151.5500 C22 C26 S
4 30.0000 1     2     113781 151.5500 C22 C26 S
5 25.0000 1     2     113781 151.5500 C22 C26 S

In [17]:
# write.csv() 함수
install.packages("readxl")
library(readxl)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Warning message in install.packages("readxl"):
“installation of package ‘readxl’ had non-zero exit status”

  학번 이름   성적 평가
1 101  홍길동 90   A
2 102  이순신 80   B

In [ ]:
st_excel <- read_excel(path="studentexcel.xlsx", sheet="Sheet1")
st_excel

In [18]:
write.csv(st_excel,"st_excel.csv", row.names = F, quote = F)

In [19]:
# write_xlsx() 함수
install.packages("writexl")
library(writexl)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [20]:
write_xlsx(x=st_excel, path="st_excel.xlsx", col_names = TRUE)