<a href="https://colab.research.google.com/github/gyujin0450/RPRG/blob/master/p110_%EC%A1%B0%EA%B1%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ch04.2 조건문

In [ ]:
# 조건문 : if(), ifelse(), switch(), which()

In [ ]:
# if() 함수
# if(조건식){참인 경우 처리문} else {거짓인 경우 처리문}

In [ ]:
x <- 50;y <- 4; z <- x * y

In [ ]:
if(x*y >= 40) {
  cat("x*y >= 40 입니다..")
} else {
  cat("x*y >= 40 아닙니다..")
}

x*y >= 40 입니다..

In [ ]:
score <- 90

In [ ]:
if(score >= 90){
  r = "A"
} else if (score >= 80) {
  r = "B"
} else if (score >= 70) {
  r = "C"
} else if (score >= 60) {
  r = "D"
} else {
  r = "F"
}
cat("당신의 학점 : ", r)

당신의 학점 :  A

In [ ]:
# ifelse() 함수
# ifelse( 조건식, 참인 경우 처리문, 거짓인 경우 처리문)

In [ ]:
score <- 90

In [ ]:
ifelse( score >= 90, "90점 이상", "90점 미만")

[1] "90점 이상"

In [2]:
# 엑셀파일 읽어 sqrt() 함수 적용
execel <- read.csv("excel.csv", header = T)
str(execel)

'data.frame':	402 obs. of  5 variables:
 $ q1: int  2 1 2 3 3 4 3 4 4 4 ...
 $ q2: int  4 2 3 5 2 3 4 2 4 2 ...
 $ q3: int  4 2 4 5 4 3 4 4 5 4 ...
 $ q4: int  2 2 3 3 4 4 2 4 3 2 ...
 $ q5: int  2 2 3 3 4 2 2 4 4 3 ...

In [3]:
head(execel,5)

  q1 q2 q3 q4 q5
1 2  4  4  2  2
2 1  2  2  2  2
3 2  3  4  3  3
4 3  5  5  3  3
5 3  2  4  4  4

In [4]:
q1 <- execel$q1

In [21]:
head(ifelse(q1 >= 3, sqrt(q1), q1),5)

[1] 2.000000 1.000000 2.000000 1.732051 1.732051

In [ ]:
#switch() 함수
switch(비교문, 실행문1[,실행문2][,..])

In [9]:
name <- "choi"
switch(name,choi=100,jang=90)

[1] 100

In [14]:
# which() 함수 : 벡터 객체를 대상으로 특정 데이터를 검색함
# which(조건) : 조건에 만족하는 벡터우너소의 위치(인텍스)를 반환함
name <- c("kim","lee","choi","jang")
which(name == "choi")

[1] 3

In [15]:
no <- c(1:5)
name <- c("kim","lee","choi","jang","park")
score <- c(85,90,95,100,50)
exam <- data.frame(학번=no,이름=name,성적=score)
exam

  학번 이름 성적
1 1    kim   85
2 2    lee   90
3 3    choi  95
4 4    jang 100
5 5    park  50

In [19]:
exam[which(exam$이름 == 'choi'),]

  학번 이름 성적
3 3    choi 95

In [13]:
# dplyr 패키지의 다중 조건문 작성
# case_when( 조건식~참일때값, ..., TRUE~참일때값)
library(dplyr)
x <- 80
case_when( x >= 90 ~ "A", x >= 80 ~ "B", x >= 70 ~ "C", x >= 60 ~ "D", TRUE ~ "F")

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

[1] "B"