<a href="https://colab.research.google.com/github/gyujin0450/RPRG/blob/master/p233_%EA%B2%A9%EC%9E%90%ED%98%95%EA%B8%B0%EB%B2%95%EC%8B%9C%EA%B0%81%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch08.2 격자형 기법 시각화

In [1]:
# 1) lattice 패키지 설치
install.packages("lattice")
library(lattice)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [4]:
# 2) 실습용 데이터 가저오기
install.packages("mlmRev")
library(mlmRev)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘lme4’


Warning message in install.packages("mlmRev"):
“installation of package ‘lme4’ had non-zero exit status”
Warning message in install.packages("mlmRev"):
“installation of package ‘mlmRev’ had non-zero exit status”

ERROR: ignored

In [ ]:
data(Chem97) 
str(Chem97)

In [ ]:
# ?Chem97
# lea Local Education Authority - a factor
# school School identifier - a factor
# student Student identifier - a factor
# score Point score on A-level Chemistry in 1997
# gender Student's gender 
# age Age in month, centred at 222 months or 18.5 years : 18.5세 기준 개월
# gcsescore Average GCSE score of individual.
# gcsecnt Average GCSE score of individual, centered at mean.

In [ ]:
head(Chem97)

In [ ]:
table(Chem97$gender)

In [ ]:
barplot(table(Chem97$score))

In [ ]:
barplot(table(Chem97$age))

In [ ]:
# barplot(table(Chem97$gcsescore))
hist(Chem97$gcsescore)
cat("평균:",mean(Chem97$gcsescore))

In [ ]:
hist(Chem97$gcsecnt)

In [ ]:
# 2.1) 히스토그램
# histogram(~ X축 컬럼 | 조건, data ...)
histogram(~gcsescore, data = Chem97)

In [ ]:
# Score 변수를 조건 변수로 지정하여 데이터 시각화
histogram(~gcsescore | score, data = Chem97)

In [ ]:
histogram(~gcsescore | factor(score), data = Chem97)

In [ ]:
# 2.2) 밀도 그래프
# densityplot(~ x축 컬럼 | 조건, data, groups = 변수)
densityplot(~gcsescore | factor(score), data = Chem97, groups = gender, 
            plot.points = T, auto.key = T)

In [ ]:
# 막대 그래프
# barchart(y축 컬럼 ~x축 컬럼 | 조건, data, layout)

In [ ]:
# 1) 기본 데이터셋 가저오기
data(VADeaths)
str(VADeaths)

In [ ]:
VADeaths

In [ ]:
class(VADeaths) # class : data 구조 확인(자료형: vector(numeric, character), matrix, data.frame, list, factor)
mode(VADeaths)  # mode : 객체의 내부 타입(numeric, character, list)

In [ ]:
# 통계처리를 위해서 matrix 자료 구조를 table 자료구조로 변환
# 가장 왼쪽의 첫번째 컬럼을 기준으로 '넓은 형식'의 자료가 '긴 형식'의 자료로 구조가 변경
dft <- as.data.frame.table(VADeaths)
str(dft)

In [ ]:
class(dft);mode(dft)

In [ ]:
dft

In [ ]:
barchart(Var1 ~ Freq | Var2, data = dft, layout = c(4,1)) # 4열 1행

In [ ]:
barchart(Var1 ~ Freq | Var2, data = dft, layout = c(2,2), origin = 0) # 2열 2행

In [ ]:
# 점그래프
# dotplot(y축 컬럼 ~ x축 컬럼 | 조건, data, layout)
dotplot(Var1 ~ Freq | Var2, dft)

In [ ]:
dotplot(Var1 ~ Freq | Var2, dft, layout = c(4,1))

In [ ]:
# 점을 선으로 연결하여 시각화
dotplot(Var1 ~ Freq, data = dft, groups = Var2, type = "o",
        auto.key = list(space = "right", points = T, lines = T))

In [ ]:
# 산점도 그래프
library(datasets)
str(airquality)

In [ ]:
# ?airquality
# Ozone   : Mean ozone in parts per billion from 1300 to 1500 hours at Roosevelt Island
# Solar.R : Solar radiation in Langleys in the frequency band 4000-7700 Angstroms from 0800 to 1200 hours at Central Park
# Wind    : Average wind speed in miles per hour at 0700 and 1000 hours at LaGuardia Airport
# Temp    : Maximum daily temperature in degrees Fahrenheit at La Guardia Airport.
summary(airquality)

In [ ]:
# xyplot() 함수를 사용하여 산점도 그리기
# xyplot(y축 컬럼 ~ x축 컬럼 | 조건변수, data = data.frame 또는 list, layout)
xyplot(Ozone ~ Wind, data= airquality)

In [ ]:
# 조건변수를 사용하는 xyplot() 함수로 산점도 그리기
xyplot(Ozone ~ Wind | Month, data = airquality)

In [ ]:
# 조건변수와 layout 속성을 사용하는 xyplot() 함수로 산점도 그리기
xyplot(Ozone ~ Wind | Month, data = airquality, layout = c(5,1))

In [ ]:
# Month 변수를 factor 타입으로 변환하여 산점도 그리기
convert <- transform(airquality, Month = factor(Month))
str(convert)

In [ ]:
xyplot(Ozone ~ Wind | Month, data = convert)

In [ ]:
# quakes 데이터 셋으로 산점도 그래프 그리기
head(quakes)

In [ ]:
str(quakes)

In [ ]:
# ?quakes
# lat       numeric  Latitude(위도) of event            
# long      numeric  Longitude(경도)                    
# depth     numeric  Depth (km)                   
# mag       numeric  Richter Magnitude            
# stations  numeric  Number of stations reporting

In [ ]:
# 지진 발생 진앙지(위도와 경도) 산점도 그리기
xyplot(lat ~ long, data = quakes, pch = "O")

In [ ]:
# 산점도 그래프를 변수에 저장하고, 제목 문자열 추가하기
tplot <- xyplot(lat ~ long, data = quakes, pch = "O")
tplot <- update(tplot, main = "location afer 1964")
print(tplot)

In [ ]:
# 이산형 변수를 조건으로 지정하여 산점도 그리기
# 1) depth 변수의 범위 확인
range(quakes$depth)

In [ ]:
# 2) depth 변수 리코딩 : 6개의 범주(100 단위)로 코딩 변경
quakes$depth2[quakes$depth >= 40 & quakes$depth <= 150] <- 1
quakes$depth2[quakes$depth >= 151 & quakes$depth <= 250] <- 2
quakes$depth2[quakes$depth >= 251 & quakes$depth <= 350] <- 3
quakes$depth2[quakes$depth >= 351 & quakes$depth <= 450] <- 4
quakes$depth2[quakes$depth >= 451 & quakes$depth <= 550] <- 5
quakes$depth2[quakes$depth >= 551 & quakes$depth <= 680] <- 6

In [ ]:
str(quakes)

In [ ]:
# 3) 리코딩된 변수(depth2)를 조건으로 산점도 그리기
convert <- transform(quakes, depth2 = factor(depth2))
xyplot(lat ~ long | depth2, data = convert)

In [ ]:
# 동일한 패널에 두개의 변수값 표현
xyplot(Ozone + Solar.R ~ Wind | factor(Month), data = airquality, col = c("blue", "red"), layout = c(5,1))

In [ ]:
# 데이터 범주화
# equal.count(data, number = n, overlap = 0)
# 1) 1 ~ 150을 대상으로 겹치지 않게 4개 영역으로 범주화
numgroup <- equal.count(1:150, number = 4, overlap = 0)
numgroup

In [ ]:
depthgroup <- equal.count(quakes$depth,number = 5,overlap = 0)
depthgroup

In [ ]:
xyplot(lat ~ long | depthgroup, data = quakes, main = "Fiji Earthquakes(depthgroup)",
       ylab = "latitude", xlan = "longitude", pch = "@", col = "red" )

In [ ]:
# 수심과 리히터 규모 변수를 동시에 작용하여 산점도 그리기
# 1) 리히터 규모를 2개 영역으로 구분
magnitudegroup <- equal.count(quakes$mag, number = 2, overlap = 0)
magnitudegroup

In [ ]:
# 2) magnitudegroup 변수를 기준으로 산점도 그리기
xyplot(lat ~ long | magnitudegroup, data = quakes, main = "Fiji Earthquakes(magnitude)",
       ylab = "latitude", xlab = "longitude", pch = "@", col="blue" )

In [ ]:
# 3) 수심과 리히터 규모를 동시에 표현(2행 5렬 패널 구현)
xyplot(lat ~ long | depthgroup * magnitudegroup, data = quakes, main = "Fiji Earthquakes",
       ylab = "latitude", xlab = "longitude", pch = "@", col = c("red","blue")) # 수심(빨강), 리히터 규모(파랑)

In [ ]:
# 이산형 변수를 리코딩한 뒤에 Factor 형으로 변환하여 산점도
# 1) depth 변수 리코딩
quakes$depth3[quakes$depth >= 39.5 & quakes$depth <= 80.5] <- 'd1'
quakes$depth3[quakes$depth >= 79.5 & quakes$depth <= 186.5] <- 'd2'
quakes$depth3[quakes$depth >= 185.5 & quakes$depth <= 397.5] <- 'd3'
quakes$depth3[quakes$depth >= 396.5 & quakes$depth <= 562.5] <- 'd4'
quakes$depth3[quakes$depth >= 562.5 & quakes$depth <= 680.5] <- 'd5'

# 2) mag 변수 리코딩
quakes$mag3[quakes$mag >= 3.95 & quakes$mag <= 4.65] <- 'm1'
quakes$mag3[quakes$mag >= 4.55 & quakes$mag <= 6.45] <- 'm2'

# 3) factor형 변환
convert <- transform(quakes, depth3 = factor(depth3), mag3 = factor(mag3))

# 4) 산점도 그래프 그리기
xyplot(lat ~ long | depth3 * mag3, data = convert, main = "Fiji Earthquakes",
       ylab = "latitude", xlab = "longitude", pch="@", col = c("red","blue") )

In [ ]:
str(convert)