<a href="https://colab.research.google.com/github/gyujin0450/RPRG/blob/master/p71_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch02.4 DataFrame 자료구조

In [1]:
# dataFrame 생성

# 열단위로 서로 다른 자료형을 포함할 수 있음
# 벡터와 행렬을 이용하여 데이터프레임 객체를 생성할 수 있음

# data.frame(컬럼1 = 자료, 컬럼2 = 자료, ... 컬럼n = 자료)

In [2]:
no <- c(1,2,3)
name <- c("hong","lee","kim")
pay <- c(150,250,300)
vemp <- data.frame(No = no, Name = name, Pay = pay) # 컬럼명 지정
vemp

  No Name Pay
1 1  hong 150
2 2  lee  250
3 3  kim  300

In [3]:
m <- matrix(c(
  1, "hong", 150,
  2, "lee", 250,
  3, "kim", 300
), 3, byrow = T)
memp <- data.frame(m)
memp

  X1 X2   X3
1 1  hong 150
2 2  lee  250
3 3  kim  300

In [10]:
getwd()
# txtemp <- read.table('https://raw.githubusercontent.com/gyujin0450/dataset/master/emp.txt', header = 1, sep = "")
txtemp <- read.csv(file= 'https://raw.githubusercontent.com/gyujin0450/dataset/master/emp.csv', sep = ",") 
txttemp

[1] "/content"

ERROR: ignored