<a href="https://colab.research.google.com/github/gyujin0450/RPRG/blob/master/p84_%EB%AC%B8%EC%9E%90%EC%97%B4%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch2.6 문자열 처리

In [ ]:
# 텍스트 자료나 SNS에서 가공 처리된 빅데이터를 처리하기 위해서는 
# 필요한 문자열을 적절하게 자르고, 교체하고, 추출하는 작업이 빈번하게 발생

In [1]:
# 문자열 추출하기
install.packages("stringr")
library(stringr)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [2]:
# 정규표현식(숫자[1-9] 2개가 연속되는 경우)과 일치하는 가장 처음에 발견된 문자열 추출
str_extract("홍길동35이순신45유관순25","[1-9]{2}")

[1] "35"

In [3]:
# 정규표현식(숫자[1-9] 2개가 연속되는 경우)과 일치하는 문자열 전체 추출
str_extract_all("홍길동35이순신45유관순25","[1-9]{2}")

[[1]]
[1] "35" "45" "25"