<a href="https://colab.research.google.com/github/gyujin0450/RPRG/blob/master/p93_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%88%EB%9F%AC%EC%98%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch03.1 데이터 불러오기

In [1]:
# scan() 함수 이용
# 키보드로 부터 숫자 입력하기, R Studio 에서 실행 필요
num <- scan()

In [ ]:
# 키보드로 문자 입력하기, R Studio 에서 실행 필요
name <- scan(what = character())

In [ ]:
# 편집기를 이용한 데이터프레임 만들기, R Studio 에서 실행 필요
df = data.frame()
df = edit(df)
df

In [3]:
# read.table() 함수 이용, R Studio 에서 실행 필요
# read.table(file="경로명/파일명", sep="공백|탭|콜론|세미콜론|콤마",header="T|F")
getwd()
setwd("작업 디렉토리 설정")
student <- read.table(file = "테이블 형식의 파일")
student
names(student) <- c("번호","이름","키","몸무게")
student

[1] "/content"

In [ ]:
# 컬럼명이 있는 파일 불러오기, R Studio 에서 실행 필요
student1 <- read.table(file = "테이블 형식의 TXT 파일",header=T)
student1

In [ ]:
# 탐색기를 통해서 파일 선택하기
student2 <- read.table(file.choose(),header = TRUE)
stident2

In [ ]:
# 구분자가 있는 경우
student3 <- read.table(file.choose(),sep=",",header = TRUE)
student3

In [ ]:
# 결측치를 처리하여 파일 불러오기
student4 <- read.table(file.choose(),sep=",",header = TRUE,na.strings = "-")
student4

In [ ]:
# read.csv() 함수 이용
student5 <- read.csv("경로명/파일명"[,sep=","][,header = TRUE])
student5

In [4]:
# read.excel() 함수 이용
install.packages("readxl")
library(readxl)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
st_excel <- read_excel(path="경로명/파일명", sheet = "시트명")
st_excel

In [8]:
# 인터넷에서 파일 가져오기
titanic <- read.csv("https://raw.githubusercontent.com/gyujin0450/dataset/master/titanic.csv")
titanic

     pclass survived name                                              sex
1    1      1        Allen, Miss. Elisabeth Walton                     female
2    1      1        Allison, Master. Hudson Trevor                    male
3    1      0        Allison, Miss. Helen Loraine                      female
4    1      0        Allison, Mr. Hudson Joshua Creighton              male
5    1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels)   female
6    1      1        Anderson, Mr. Harry                               male
7    1      1        Andrews, Miss. Kornelia Theodosia                 female
8    1      0        Andrews, Mr. Thomas Jr                            male
9    1      1        Appleton, Mrs. Edward Dale (Charlotte Lamson)     female
10   1      0        Artagaveytia, Mr. Ramon                           male
11   1      0        Astor, Col. John Jacob                            male
12   1      1        Astor, Mrs. John Jacob (Madeleine Talmadge Force) female
13   1      1        Aubart, Mme. Leontine Pauline                     female
14   1      1        Barber, Miss. Ellen "Nellie"                      female
15   1      1        Barkworth, Mr. Algernon Henry Wilson              male
16   1      0        Baumann, Mr. John D                               male
17   1      0        Baxter, Mr. Quigg Edmond                          male
18   1      1        Baxter, Mrs. James (Helene DeLaudeniere Chaput)   female
19   1      1        Bazzani, Miss. Albina                             female
20   1      0        Beattie, Mr. Thomson                              male
21   1      1        Beckwith, Mr. Richard Leonard                     male
22   1      1        Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female
23   1      1        Behr, Mr. Karl Howell                             male
24   1      1        Bidois, Miss. Rosalie                             female
25   1      1        Bird, Miss. Ellen                                 female
26   1      0        Birnbaum, Mr. Jakob                               male
27   1      1        Bishop, Mr. Dickinson H                           male
28   1      1        Bishop, Mrs. Dickinson H (Helen Walton)           female
29   1      1        Bissette, Miss. Amelia                            female
30   1      1        Bjornstrom-Steffansson, Mr. Mauritz Hakan         male
⋮    ⋮      ⋮        ⋮                                                 ⋮
1281  3      0       Vovk, Mr. Janko                                   male
1282  3      0       Waelens, Mr. Achille                              male
1283  3      0       Ware, Mr. Frederick                               male
1284  3      0       Warren, Mr. Charles William                       male
1285  3      0       Webber, Mr. James                                 male
1286  3      0       Wenzel, Mr. Linhart                               male
1287  3      1       Whabee, Mrs. George Joseph (Shawneene Abi-Saab)   female
1288  3      0       Widegren, Mr. Carl/Charles Peter                  male
1289  3      0       Wiklund, Mr. Jakob Alfred                         male
1290  3      0       Wiklund, Mr. Karl Johan                           male
1291  3      1       Wilkes, Mrs. James (Ellen Needs)                  female
1292  3      0       Willer, Mr. Aaron ("Abi Weller")                  male
1293  3      0       Willey, Mr. Edward                                male
1294  3      0       Williams, Mr. Howard Hugh "Harry"                 male
1295  3      0       Williams, Mr. Leslie                              male
1296  3      0       Windelov, Mr. Einar                               male
1297  3      0       Wirz, Mr. Albert                                  male
1298  3      0       Wiseman, Mr. Phillippe                            male
1299  3      0       Wittevrongel, Mr. Camille                         male
1300  3      0       Yasbeck, Mr. Antoni                               male
1301  3      1       Yasbeck, Mrs. Antoni (Selini Alexander)           female
1302  3      0       Youseff, Mr. Gerious                              male
1303  3      0       Yousif, Mr. Wazli                                 male
1304  3      0       Yousseff, Mr. Gerious                             male
1305  3      0       Zabour, Miss. Hileni                              female
1306  3      0       Zabour, Miss. Thamine                             female
1307  3      0       Zakarian, Mr. Mapriededer                         male
1308  3      0       Zakarian, Mr. Ortin                               male
1309  3      0       Zimmerman, Mr. Leo                                male
1310 NA     NA
     age     sibsp parch ticket           fare     cabin   embarked
1    29.0000 0     0     24160            211.3375 B5      S
2     0.9167 1     2     113781           151.5500 C22 C26 S
3     2.0000 1     2     113781           151.5500 C22 C26 S
4    30.0000 1     2     113781           151.5500 C22 C26 S
5    25.0000 1     2     113781           151.5500 C22 C26 S
6    48.0000 0     0     19952             26.5500 E12     S
7    63.0000 1     0     13502             77.9583 D7      S
8    39.0000 0     0     112050             0.0000 A36     S
9    53.0000 2     0     11769             51.4792 C101    S
10   71.0000 0     0     PC 17609          49.5042         C
11   47.0000 1     0     PC 17757         227.5250 C62 C64 C
12   18.0000 1     0     PC 17757         227.5250 C62 C64 C
13   24.0000 0     0     PC 17477          69.3000 B35     C
14   26.0000 0     0     19877             78.8500         S
15   80.0000 0     0     27042             30.0000 A23     S
16        NA 0     0     PC 17318          25.9250         S
17   24.0000 0     1     PC 17558         247.5208 B58 B60 C
18   50.0000 0     1     PC 17558         247.5208 B58 B60 C
19   32.0000 0     0     11813             76.2917 D15     C
20   36.0000 0     0     13050             75.2417 C6      C
21   37.0000 1     1     11751             52.5542 D35     S
22   47.0000 1     1     11751             52.5542 D35     S
23   26.0000 0     0     111369            30.0000 C148    C
24   42.0000 0     0     PC 17757         227.5250         C
25   29.0000 0     0     PC 17483         221.7792 C97     S
26   25.0000 0     0     13905             26.0000         C
27   25.0000 1     0     11967             91.0792 B49     C
28   19.0000 1     0     11967             91.0792 B49     C
29   35.0000 0     0     PC 17760         135.6333 C99     S
30   28.0000 0     0     110564            26.5500 C52     S
⋮    ⋮       ⋮     ⋮     ⋮                ⋮        ⋮       ⋮
1281 22.0     0     0    349252            7.8958          S
1282 22.0     0     0    345767            9.0000          S
1283   NA     0     0    359309            8.0500          S
1284   NA     0     0    C.A. 49867        7.5500          S
1285   NA     0     0    SOTON/OQ 3101316  8.0500          S
1286 32.5     0     0    345775            9.5000          S
1287 38.0     0     0    2688              7.2292          C
1288 51.0     0     0    347064            7.7500          S
1289 18.0     1     0    3101267           6.4958          S
1290 21.0     1     0    3101266           6.4958          S
1291 47.0     1     0    363272            7.0000          S
1292   NA     0     0    3410              8.7125          S
1293   NA     0     0    S.O./P.P. 751     7.5500          S
1294   NA     0     0    A/5 2466          8.0500          S
1295 28.5     0     0    54636            16.1000          S
1296 21.0     0     0    SOTON/OQ 3101317  7.2500          S
1297 27.0     0     0    315154            8.6625          S
1298   NA     0     0    A/4. 34244        7.2500          S
1299 36.0     0     0    345771            9.5000          S
1300 27.0     1     0    2659             14.4542          C
1301 15.0     1     0    2659             14.4542          C
1302 45.5     0     0    2628              7.2250          C
1303   NA     0     0    2647              7.2250          C
1304   NA     0     0    2627             14.4583          C
1305 14.5     1     0    2665             14.4542          C
1306   NA     1     0    2665             14.4542          C
1307 26.5     0     0    2656              7.2250          C
1308 27.0     0     0    2670              7.2250          C
1309 29.0     0     0    315082            7.8750          S
1310   NA    NA    NA                          NA

In [9]:
dim(titanic)

[1] 1310   11

In [10]:
str(titanic)

'data.frame':	1310 obs. of  11 variables:
 $ pclass  : int  1 1 1 1 1 1 1 1 1 1 ...
 $ survived: int  1 1 0 0 0 1 1 0 1 0 ...
 $ name    : Factor w/ 1308 levels "","Abbing, Mr. Anthony",..: 23 25 26 27 28 32 47 48 52 56 ...
 $ sex     : Factor w/ 3 levels "","female","male": 2 3 2 3 2 3 2 3 2 3 ...
 $ age     : num  29 0.917 2 30 25 ...
 $ sibsp   : int  0 1 1 1 1 0 1 0 2 0 ...
 $ parch   : int  0 2 2 2 2 0 0 0 0 0 ...
 $ ticket  : Factor w/ 930 levels "","110152","110413",..: 189 51 51 51 51 126 94 17 78 827 ...
 $ fare    : num  211 152 152 152 152 ...
 $ cabin   : Factor w/ 187 levels "","A10","A11",..: 45 81 81 81 81 151 147 17 63 1 ...
 $ embarked: Factor w/ 4 levels "","C","Q","S": 4 4 4 4 4 4 4 4 4 2 ...

In [14]:
table(titanic$embarked)

      C   Q   S
  3 270 123 914

In [12]:
table(titanic$sex)

       female   male
     1    466    843

In [13]:
table(titanic$survived)

  0   1
809 500